.about-content-light {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about-content-dark {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  color: white;
}
.smallLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.small-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.hand-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/ds2bmmnmg/image/upload/v1711161156/Vector_1_xny6f1.png");
  background-size: cover;
  height: 60vh;
}
.big-line {
  height: 3px;
  width: 70%;
  margin-left: 10px;
}
.handImage {
  display: block;
  height: 400px;
  margin-top: 230px;
}
.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.description {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.bubble {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.yellow-bubble {
  height: 225px;
  margin-right: 30px;
}
.grey-bubble {
  height: 330px;
  margin-left: 30px;
}
.endContent {
  background-size: cover;
  height: 100vh;
}
.endImage {
  height: 70vh;
}
/* .social-media-about-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
@media screen and (max-width: 500px) {
  .hand-content {
    background-image: none;
  }
  .handImage {
    display: none;
  }
  .endImage {
    display: none;
  }
  .bubble {
    display: none;
  }
  .description {
    order: 1;
  }
  .hand-content {
    order: 2;
  }
  .big-line {
    width: 40%;
  }
  .about-content-light {
    flex-direction: column;
    justify-content: none;
  }
  .about-content-dark {
    flex-direction: column;
    justify-content: none;
  }
}
